openapi: 3.0.3
info:
  contact:
    email: vrchatapi.lpv0t@aries.fyi
    name: Unofficial VRChat API Documentation Project
    url: https://github.com/VRChatAPI
  description: |-
    ![VRChat API Banner](https://vrchatapi.github.io/assets/img/api_banner_1500x400.png)

    # Welcome to the VRChat API

    Before we begin, we would like to state this is a **COMMUNITY DRIVEN PROJECT**.
    This means that everything you read on here was written by the community itself and is **not** officially supported by VRChat.
    The documentation is provided "AS IS", and any action you take towards VRChat is completely your own responsibility.

    The documentation and additional libraries SHALL ONLY be used for applications interacting with VRChat's API in accordance
    with their [Terms of Service](https://hello.vrchat.com/legal) and [Community Guidelines](https://hello.vrchat.com/community-guidelines), and MUST NOT be used for modifying the client, "avatar ripping", or other illegal activities.
    Malicious usage or spamming the API may result in account termination.
    Certain parts of the API are also more sensitive than others, for example moderation, so please tread extra carefully and read the warnings when present.

    ![Tupper Policy on API](https://i.imgur.com/yLlW7Ok.png)

    Finally, use of the API using applications other than the approved methods (website, VRChat application, Unity SDK) is not officially supported.
    VRChat provides no guarantee or support for external applications using the API. Access to API endpoints may break **at any time, without notice**.
    Therefore, please **do not ping** VRChat Staff in the VRChat Discord if you are having API problems, as they do not provide API support.
    We will make a best effort in keeping this documentation and associated language libraries up to date, but things might be outdated or missing.
    If you find that something is no longer valid, please contact us on Discord or [create an issue](https://github.com/vrchatapi/specification/issues) and tell us so we can fix it.

    # Getting Started

    The VRChat API can be used to programmatically retrieve or update information regarding your profile, friends, avatars, worlds and more.
    The API consists of two parts, "Photon" which is only used in-game, and the "Web API" which is used by both the game and the website.
    This documentation focuses only on the Web API.

    The API is designed around the REST ideology, providing semi-simple and usually predictable URIs to access and modify objects.
    Requests support standard HTTP methods like GET, PUT, POST, and DELETE and standard status codes.
    Response bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.

    <div class="callout callout-error">
      <strong>🛑 Warning! Do not touch Photon!</strong><br>
      Photon is only used by the in-game client and should <b>not</b> be touched. Doing so may result in permanent account termination.
    </div>

    <div class="callout callout-info">
      <strong>ℹ️ Authentication</strong><br>
      Read <a href="#tag--authentication">Authentication</a> for how to log in.
    </div>

    # Using the API

    For simply exploring what the API can do it is strongly recommended to download [Insomnia](https://insomnia.rest/download), a free and open-source
    API client that's great for sending requests to the API in an orderly fashion.
    Insomnia allows you to send data in the format that's required for VRChat's API.
    It is also possible to try out the API in your browser, by first logging in at [vrchat.com/home](https://vrchat.com/home/) and then going to
    [vrchat.com/api/1/auth/user](https://vrchat.com/api/1/auth/user), but the information will be much harder to work with.

    For more permanent operation such as software development it is instead recommended to use one of the existing language SDKs.
    This community project maintains API libraries in several languages, which allows you to interact with the API with simple function calls
    rather than having to implement the HTTP protocol yourself. Most of these libraries are automatically generated from the API specification,
    sometimes with additional helpful wrapper code to make usage easier. This allows them to be almost automatically updated and expanded upon
    as soon as a new feature is introduced in the specification itself. The libraries can be found on [GitHub](https://github.com/vrchatapi) or following:

    * [NodeJS (JavaScript)](https://www.npmjs.com/package/vrchat)
    * [Dart](https://pub.dev/packages/vrchat_dart)
    * [Rust](https://crates.io/crates/vrchatapi)
    * [C#](https://github.com/vrchatapi/vrchatapi-csharp)
    * [Python](https://github.com/vrchatapi/vrchatapi-python)

    # Pagination

    Most endpoints enforce pagination, meaning they will only return 10 entries by default, and never more than 100.<br>
    Using both the limit and offset parameters allows you to easily paginate through a large number of objects.

    | Query Parameter | Type | Description |
    | ----------|--|------- |
    | `n` | integer  | The number of objects to return. This value often defaults to 10. Highest limit is always 100.|
    | `offset` | integer  | A zero-based offset from the default object sorting.|

    If a request returns fewer objects than the `limit` parameter, there are no more items available to return.

    # Contribution

    Do you want to get involved in the documentation effort? Do you want to help improve one of the language API libraries?
    This project is an [OPEN Open Source Project](https://openopensource.org)! This means that individuals making significant and valuable contributions are given
    commit-access to the project. It also means we are very open and welcoming of new people making contributions, unlike some more guarded open-source projects.

    [![Discord](https://img.shields.io/static/v1?label=vrchatapi&message=discord&color=blueviolet&style=for-the-badge)](https://discord.gg/qjZE9C9fkB)
  license:
    name: MIT
    url: https://github.com/vrchatapi/specification/blob/master/LICENSE
  termsOfService: https://vrchat.com/legal/
  title: VRChat API Documentation
  version: 1.20.7
servers:
- url: https://api.vrchat.cloud/api/1
tags:
- description: Authentication Docs Here
  name: authentication
- description: Avatars Docs Here
  name: avatars
- description: Calendar docs here
  name: calendar
- description: Economy Docs Here
  name: economy
- description: Favorites Docs Here
  name: favorites
- description: Files Docs Here
  name: files
- description: Friends Docs Here
  name: friends
- description: Group Docs Here
  name: groups
- description: "The inventory manages collectable items, such as drop bundles and\
    \ their contents."
  name: inventory
- description: Invite Docs Here
  name: invite
- description: Instances Docs Here
  name: instances
- description: Jams Docs Here
  name: jams
- description: Notifiations Docs
  name: notifications
- description: |-
    There are two different moderation API's, "moderation" for Staff actions, and "playermoderation" for players.
    PlayerModerations are user-generated actions towards others, such as muting them, blocking, or toggling interaction.

    Your global permission settings are stored locally on your computer.
    Only player-specific moderations (when you target a player, and allow them specifically to interact with you) are stored in the API.

    ## Implementation details

    There are three different user-targetted permission options:

    - Mode 1: interactOn/unmute/unblock
    - Mode 2: interactOff/mute/block
    - *Default setting*

    **Example:**

    Force On (`interactOn`) and Force Off (`interactOff`) always or never allow that person to interact with you.
    These are stored as PlayerModerations. When you select a player and select "Force On", it creates a playerModeration of type `interactOn`.

    **Important order:**

    1. When switching between one mode from the other, e.g. "Force On" and "Force Off", **the previous playerModeration MUST first be deleted before creating the second.**
       The game sends these in sequence, first delete the old, then create the new. Attempting to create both `interactOn` and `interactOff` is UNDOCUMENTED behavior.
    2. "Use Current Setting" **does not have it's own enum**. The game removes any previous playerModeration of same type.
       No playerModeration of either type means fallback to the global setting.

    ## Deprecation notice

    As of October 2022, `showAvatar` and `hideAvatar` has been moved to local storage.
    Sending these types to the API will result in a 200 OK response, but the API will **not** store them.
    More information is avaiable on VRChat's official [documentation on Local Storage](https://docs.vrchat.com/docs/local-vrchat-storage).
  name: playermoderation
- description: Prints are a way to print photos directly from the VRChat camera.
  name: prints
- description: Props are interactable items users can spawn into instances.
  name: props
- description: Users Docs Here
  name: users
- description: Worlds Docs Here
  name: worlds
- description: Miscellaneous endpoints that do not fit into any other category.
  name: miscellaneous
paths:
  /Admin/transactions/{transactionId}: {}
  /Steam/transactions:
    get:
      description: Get all own Steam transactions.
      operationId: getSteamTransactions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Transaction"
                type: array
          description: Returns a list of Transaction objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: List Steam Transactions
      tags:
      - economy
  /Steam/transactions/{transactionId}:
    get:
      deprecated: true
      description: "Get a single Steam transactions by ID. This returns the exact\
        \ same information as `getSteamTransactions`, so no point in using this endpoint."
      operationId: getSteamTransaction
      parameters:
      - description: Must be a valid transaction ID.
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"
          description: Returns a single Transaction object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Steam Transaction
      tags:
      - economy
  /adminassetbundles/{adminAssetBundleId}:
    get:
      description: Returns an AdminAssetBundle
      operationId: getAdminAssetBundle
      parameters:
      - description: Must be a valid admin asset bundle ID.
        explode: false
        in: path
        name: adminAssetBundleId
        required: true
        schema:
          example: aab_e159e72c-ce54-4fbe-8c37-96af02f6d18d
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAssetBundle"
          description: Returns a single AdminAssetBundle object.
      security:
      - authCookie: []
      summary: Get AdminAssetBundle
      tags:
      - files
  /agreement:
    get:
      description: "Returns the agreement status of the currently authenticated user\
        \ for the given agreementCode, contentId, and version."
      operationId: getContentAgreementStatus
      parameters:
      - description: The type of agreement (currently content.copyright.owned)
        explode: true
        in: query
        name: agreementCode
        required: true
        schema:
          $ref: "#/components/schemas/AgreementCode"
        style: form
      - description: "The id of the content being uploaded, such as a WorldID, AvatarID,\
          \ or PropID"
        explode: true
        in: query
        name: contentId
        required: true
        schema:
          example: avtr_c38a1615-5bf5-42b4-84eb-a8b6c37cbd11
          type: string
        style: form
      - description: The version of the agreement (currently 1)
        explode: true
        in: query
        name: version
        required: true
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgreementStatus"
          description: Returns a single AgreementStatus object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Content Agreement Status
      tags:
      - files
    post:
      description: "Returns the agreement of the currently authenticated user for\
        \ the given agreementCode, contentId, and version."
      operationId: submitContentAgreement
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgreementRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          description: Returns a single Agreement object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Submit Content Agreement
      tags:
      - files
  /analysis/{fileId}/{versionId}:
    get:
      description: Get the performance analysis for the uploaded assets of an avatar
      operationId: getFileAnalysis
      parameters:
      - description: Must be a valid file ID.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          type: string
        style: simple
      - description: Version ID of the asset.
        explode: false
        in: path
        name: versionId
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileAnalysis"
          description: Returns a single FileAnalysis object.
        "202":
          content:
            application/json:
              examples:
                Analysis Not Yet Available Error:
                  value:
                    error:
                      message: Analysis not yet available
                      status_code: 202
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when requesting file Analysis that is not yet
            available.
        "404":
          content:
            application/json:
              examples:
                "404 File Not Found":
                  value:
                    error:
                      message: File 'file_ce35d830-e20a-4df0-a6d4-5aaef4508044' not
                        found
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to show information about a non-existent
            file.
      security:
      - authCookie: []
      summary: Get File Version Analysis
      tags:
      - files
  /analysis/{fileId}/{versionId}/security:
    get:
      description: Get the security performance analysis for the uploaded assets of
        an avatar
      operationId: getFileAnalysisSecurity
      parameters:
      - description: Must be a valid file ID.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          type: string
        style: simple
      - description: Version ID of the asset.
        explode: false
        in: path
        name: versionId
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileAnalysis"
          description: Returns a single FileAnalysis object.
        "202":
          content:
            application/json:
              examples:
                Analysis Not Yet Available Error:
                  value:
                    error:
                      message: Analysis not yet available
                      status_code: 202
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when requesting file Analysis that is not yet
            available.
        "404":
          content:
            application/json:
              examples:
                "404 File Not Found":
                  value:
                    error:
                      message: File 'file_ce35d830-e20a-4df0-a6d4-5aaef4508044' not
                        found
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to show information about a non-existent
            file.
      security:
      - authCookie: []
      summary: Get File Version Analysis Security
      tags:
      - files
  /analysis/{fileId}/{versionId}/standard:
    get:
      description: Get the standard performance analysis for the uploaded assets of
        an avatar
      operationId: getFileAnalysisStandard
      parameters:
      - description: Must be a valid file ID.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          type: string
        style: simple
      - description: Version ID of the asset.
        explode: false
        in: path
        name: versionId
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileAnalysis"
          description: Returns a single FileAnalysis object.
        "202":
          content:
            application/json:
              examples:
                Analysis Not Yet Available Error:
                  value:
                    error:
                      message: Analysis not yet available
                      status_code: 202
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when requesting file Analysis that is not yet
            available.
        "404":
          content:
            application/json:
              examples:
                "404 File Not Found":
                  value:
                    error:
                      message: File 'file_ce35d830-e20a-4df0-a6d4-5aaef4508044' not
                        found
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to show information about a non-existent
            file.
      security:
      - authCookie: []
      summary: Get File Version Analysis Standard
      tags:
      - files
  /assetReview/{assetReviewId}/notes:
    put:
      description: Update notes regarding an asset review.
      operationId: updateAssetReviewNotes
      parameters:
      - description: Must be an valid asset review ID.
        explode: false
        in: path
        name: assetReviewId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAssetReviewNotesRequest"
      responses:
        "200":
          description: The asset review notes are submitted.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Update Asset Review Notes
      tags:
      - files
  /auth:
    get:
      description: Verify whether the currently provided Auth Token is valid.
      operationId: verifyAuthToken
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyAuthTokenResult"
          description: Returns wether a provided auth token is valid or not.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Verify Auth Token
      tags:
      - authentication
  /auth/confirmEmail:
    get:
      description: Confirms the email address for a user
      operationId: confirmEmail
      parameters:
      - description: Target user for which to verify email.
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: usr_00000000-0000-0000-0000-000000000000
          type: string
        style: form
      - description: Token to verify email.
        explode: true
        in: query
        name: verify_email
        required: true
        schema:
          example: eml_00000000-0000-0000-0000-000000000000
          type: string
        style: form
      responses:
        "302":
          description: OK
      summary: Confirm Email
      tags:
      - authentication
  /auth/exists:
    get:
      description: |-
        Checks if a user by a given `username`, `displayName` or `email` exist. This is used during registration to check if a username has already been taken, during change of displayName to check if a displayName is available, and during change of email to check if the email is already used. In the later two cases the `excludeUserId` is used to exclude oneself, otherwise the result would always be true.

        It is **REQUIRED** to include **AT LEAST** `username`, `displayName` **or** `email` query parameter. Although they can be combined - in addition with `excludeUserId` (generally to exclude yourself) - to further fine-tune the search.
      operationId: checkUserExists
      parameters:
      - description: Filter by email.
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: Filter by displayName.
        explode: true
        in: query
        name: displayName
        required: false
        schema:
          type: string
        style: form
      - description: Filter by Username.
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: Exclude by UserID.
        explode: true
        in: query
        name: excludeUserId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserExists"
          description: Returns a response if a user exists or not.
        "400":
          content:
            application/json:
              examples:
                "400 At Least One Parameter Required":
                  value:
                    error:
                      message: "\"username, email, or displayName required\""
                      status_code: 400
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when missing at least 1 of the required parameters.
      summary: Check User Exists
      tags:
      - authentication
  /auth/permissions:
    get:
      description: Returns a list of all permissions currently granted by the user.
        Permissions are assigned e.g. by subscribing to VRC+.
      operationId: getAssignedPermissions
      responses:
        "200":
          content:
            application/json:
              examples:
                Standard Permissions Inherited By VRC+:
                  value:
                  - id: prms_fe07c8a7-a4ca-4eda-97e5-e241040ef6f8
                    name: permission-trust-boost
                    ownerDisplayName: Arctor
                    ownerId: usr_17f19d1e-fd48-493b-a8ad-807a3d8bdd1b
                  - id: prms_804ba021-9f47-4e25-9847-1f42fdb2e6ff
                    name: permission-extra-favorites-avatar-groups
                    data:
                      maxFavoriteGroups:
                        avatar: 4
                      maxFavoritesPerGroup:
                        avatar: 25
                    ownerDisplayName: Arctor
                    ownerId: usr_17f19d1e-fd48-493b-a8ad-807a3d8bdd1b
                  - id: prms_ac88a3e0-c236-47c7-9b47-d795551b7520
                    name: permission-early-adopter-tags
                    data:
                      tags:
                      - system_early_adopter
                    ownerDisplayName: Arctor
                    ownerId: usr_17f19d1e-fd48-493b-a8ad-807a3d8bdd1b
                  - id: prms_76f33deb-dd5d-46b7-b79d-e1f8f0a9a1e0
                    name: permission-supporter-tags
                    data:
                      tags:
                      - system_supporter
                    ownerDisplayName: Arctor
                    ownerId: usr_17f19d1e-fd48-493b-a8ad-807a3d8bdd1b
                  - id: prms_0d9549db-d30a-48f3-a6b8-6741ce5a4283
                    name: permission-invite-photos
                    data: {}
                    ownerDisplayName: Nyx
                    ownerId: usr_bc012e97-a292-4abc-b4e6-f9edcc8c0d2b
                  - id: prms_153ac0b7-c2dd-43f9-96e3-c61fd2e85509
                    name: permission-profile-pic-override
                    data: {}
                    ownerDisplayName: Nyx
                    ownerId: usr_bc012e97-a292-4abc-b4e6-f9edcc8c0d2b
                  - id: prms_1d9549db-d30a-48f3-a6b8-6741ce5a4283
                    name: permission-user-icons
                    data: {}
                    ownerDisplayName: Nyx
                    ownerId: usr_bc012e97-a292-4abc-b4e6-f9edcc8c0d2b
                  - id: prms_dc02c512-4c03-479c-8c6a-d9329c023baf
                    name: permission-user-gallery
                    data: {}
                    ownerDisplayName: Nyx
                    ownerId: usr_bc012e97-a292-4abc-b4e6-f9edcc8c0d2b
              schema:
                items:
                  $ref: "#/components/schemas/Permission"
                type: array
          description: Returns a list of Permission objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Assigned Permissions
      tags:
      - miscellaneous
  /auth/register:
    post:
      deprecated: true
      description: |-
        ~~Register a new user account.~~

        **DEPRECATED:** Automated creation of accounts has no legitimate public third-party use case, and would be in violation of ToS §13.2:
        *By using the Platform, you agree not to: i. [...] use the Platform in a manner inconsistent with individual human usage*
        This endpoint is documented in the interest of completeness
      operationId: registerUserAccount
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterUserAccountRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/registerUserAccount_200_response"
          description: OK
          headers:
            Set-Cookie:
              description: Successful authentication returns an `auth` cookie.
              explode: false
              schema:
                example: "auth=authcookie_00000000-0000-0000-0000-000000000000; Expires=Tue,\
                  \ 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      summary: Register User Account
      tags:
      - authentication
  /auth/twofactorauth:
    delete:
      description: Disables 2FA for the currently logged in account
      operationId: disable2FA
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Disable2FAResult"
          description: OK
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Disable 2FA
      tags:
      - authentication
  /auth/twofactorauth/emailotp/verify:
    post:
      description: Finishes the login sequence with an 2FA email code.
      operationId: verify2FAEmailCode
      parameters: []
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: "#/components/schemas/TwoFactorEmailCode"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Verify2FAEmailCodeResult"
          description: OK
          headers:
            Set-Cookie:
              description: "Provides a `twoFactorAuth` cookie, which can be used to\
                \ bypasses the 2FA requirement for future logins on the same device."
              explode: false
              schema:
                example: "twoFactorAuth=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx;\
                  \ Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Verify 2FA email code
      tags:
      - authentication
  /auth/twofactorauth/otp/verify:
    post:
      description: Finishes the login sequence with an OTP (One Time Password) recovery
        code for accounts with 2FA-protection enabled.
      operationId: verifyRecoveryCode
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: "#/components/schemas/TwoFactorAuthCode"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Verify2FAResult"
          description: OK
          headers:
            Set-Cookie:
              description: "Provides a `twoFactorAuth` cookie, which can be used to\
                \ bypasses the 2FA requirement for future logins on the same device."
              explode: false
              schema:
                example: "twoFactorAuth=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx;\
                  \ Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Verify 2FA code with Recovery code
      tags:
      - authentication
  /auth/twofactorauth/totp/pending:
    delete:
      description: Cancels the sequence for enabling time-based 2FA.
      operationId: cancelPending2FA
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Disable2FAResult"
          description: OK
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Cancel pending enabling of time-based 2FA codes
      tags:
      - authentication
    post:
      description: Begins the sequence for enabling time-based 2FA.
      operationId: enable2FA
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pending2FAResult"
          description: OK
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Enable time-based 2FA codes
      tags:
      - authentication
  /auth/twofactorauth/totp/pending/verify:
    post:
      description: Finishes sequence for enabling time-based 2FA.
      operationId: verifyPending2FA
      parameters: []
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: "#/components/schemas/TwoFactorAuthCode"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Verify2FAResult"
          description: OK
          headers:
            Set-Cookie:
              description: "Provides a `twoFactorAuth` cookie, which can be used to\
                \ bypasses the 2FA requirement for future logins on the same device."
              explode: false
              schema:
                example: "twoFactorAuth=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx;\
                  \ Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Verify Pending 2FA code
      tags:
      - authentication
  /auth/twofactorauth/totp/verify:
    post:
      description: Finishes the login sequence with a normal 2FA-generated code for
        accounts with 2FA-protection enabled.
      operationId: verify2FA
      parameters: []
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: "#/components/schemas/TwoFactorAuthCode"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Verify2FAResult"
          description: OK
          headers:
            Set-Cookie:
              description: "Provides a `twoFactorAuth` cookie, which can be used to\
                \ bypasses the 2FA requirement for future logins on the same device."
              explode: false
              schema:
                example: "twoFactorAuth=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx;\
                  \ Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Verify 2FA code
      tags:
      - authentication
  /auth/user:
    get:
      description: |-
        This endpoint does the following two operations:
          1) Checks if you are already logged in by looking for a valid `auth` cookie. If you are have a valid auth cookie then no additional auth-related actions are taken. If you are **not** logged in then it will log you in with the `Authorization` header and set the `auth` cookie. The `auth` cookie will only be sent once.
          2) If logged in, this function will also return the CurrentUser object containing detailed information about the currently logged in user.

        The auth string after `Authorization: Basic {string}` is a base64-encoded string of the username and password, both individually url-encoded, and then joined with a colon.

        > base64(urlencode(username):urlencode(password))

        **WARNING: Session Limit:** Each authentication with login credentials counts as a separate session, out of which you have a limited amount. Make sure to save and reuse the `auth` cookie if you are often restarting the program. The provided API libraries automatically save cookies during runtime, but does not persist during restart. While it can be fine to use username/password during development, expect in production to very fast run into the rate-limit and be temporarily blocked from making new sessions until older ones expire. The exact number of simultaneous sessions is unknown/undisclosed.
      operationId: getCurrentUser
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/registerUserAccount_200_response"
          description: OK
          headers:
            Set-Cookie:
              description: Successful authentication returns an `auth` cookie.
              explode: false
              schema:
                example: "auth=authcookie_00000000-0000-0000-0000-000000000000; Expires=Tue,\
                  \ 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly"
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authHeader: []
      - authHeader: []
        twoFactorAuthCookie: []
      - authCookie: []
      summary: Login and/or Get Current User Info
      tags:
      - authentication
  /auth/user/avatarmoderations:
    delete:
      description: Globally unmoderates an avatar.
      operationId: deleteGlobalAvatarModeration
      parameters:
      - description: Must be a valid avatar ID.
        explode: true
        in: query
        name: targetAvatarId
        required: true
        schema:
          $ref: "#/components/schemas/AvatarID"
        style: form
      - description: The avatar moderation type associated with the avatar.
        explode: true
        in: query
        name: avatarModerationType
        required: true
        schema:
          $ref: "#/components/schemas/AvatarModerationType"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkStatus2"
          description: Returns a single OkStatus2 object
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Delete Global Avatar Moderation
      tags:
      - authentication
    get:
      description: Returns list of globally moderated avatars.
      operationId: getGlobalAvatarModerations
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AvatarModeration"
                type: array
          description: Returns list of globally blocked avatars with timestamps
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Global Avatar Moderations
      tags:
      - authentication
    post:
      description: Globally moderates an avatar.
      operationId: createGlobalAvatarModeration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAvatarModerationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvatarModerationCreated"
          description: Returns a single AvatarModerationCreated object
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Create Global Avatar Moderation
      tags:
      - authentication
  /auth/user/favoritelimits:
    get:
      description: Return information about a specific Favorite.
      operationId: getFavoriteLimits
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FavoriteLimits"
          description: Returns a single FavoriteLimits object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Favorite Limits
      tags:
      - favorites
  /auth/user/friends:
    get:
      description: List information about friends.
      operationId: getFriends
      parameters:
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Returns *only* offline users if true, returns only online and\
          \ active users if false"
        explode: true
        in: query
        name: offline
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/LimitedUserFriend"
                type: array
          description: Returns a list of LimitedUserFriend objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: List Friends
      tags:
      - friends
  /auth/user/friends/{userId}:
    delete:
      description: Unfriend a user by ID.
      operationId: unfriend
      parameters:
      - description: Must be a valid user ID.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Unfriend Success:
                  value:
                    success:
                      message: Friendship destroyed
                      status_code: 200
              schema:
                $ref: "#/components/schemas/Success"
          description: Successful response after unfriending a user.
        "400":
          content:
            application/json:
              examples:
                "400 Not Friends Response":
                  value:
                    error:
                      message: These users are not friends
                      status_code: 400
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to unfriend someone who is not a
            friend.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Unfriend
      tags:
      - friends
  /auth/user/notifications:
    get:
      description: Retrieve all of the current user's notifications.
      operationId: getNotifications
      parameters:
      - deprecated: true
        description: "Only send notifications of this type (can use `all` for all).\
          \ This parameter no longer does anything, and is deprecated."
        explode: true
        in: query
        name: type
        required: false
        schema:
          example: all
          type: string
        style: form
      - deprecated: true
        description: Return notifications sent by the user. Must be false or omitted.
        explode: true
        in: query
        name: sent
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to return hidden or non-hidden notifications. True only
          allowed on type `friendRequest`.
        explode: true
        in: query
        name: hidden
        required: false
        schema:
          type: boolean
        style: form
      - description: Only return notifications sent after this Date. Ignored if type
          is `friendRequest`.
        explode: true
        in: query
        name: after
        required: false
        schema:
          example: five_minutes_ago
          type: string
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Notification"
                type: array
          description: Returns a list of Notifcation objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: List Notifications
      tags:
      - notifications
  /auth/user/notifications/clear:
    put:
      description: Clear **all** notifications.
      operationId: clearNotifications
      responses:
        "200":
          content:
            application/json:
              examples:
                Unfriend Success:
                  value:
                    success:
                      message: Ok
                      status_code: 200
              schema:
                $ref: "#/components/schemas/Success"
          description: Successful response after clearing all notifications.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Clear All Notifications
      tags:
      - notifications
  /auth/user/notifications/{notificationId}:
    get:
      description: Get a notification by notification `not_` ID.
      operationId: getNotification
      parameters:
      - description: Must be a valid notification ID.
        explode: false
        in: path
        name: notificationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Friend Request Response:
                  value:
                    id: frq_00000000-0000-0000-0000-000000000000
                    type: friendRequest
                    created_at: 2021-01-01T00:00:00.000Z
                    details: "{}"
                    message: ""
                    seen: false
                    senderUserId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
              schema:
                $ref: "#/components/schemas/Notification"
          description: Returns a single Notifcation object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 World Not Found":
                  value:
                    error:
                      message: Notification not found
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to perform operations on a non-existing
            notification.
      security:
      - authCookie: []
      summary: Show notification
      tags:
      - notifications
  /auth/user/notifications/{notificationId}/accept:
    put:
      description: Accept a friend request by notification `frq_` ID. Friend requests
        can be found using the NotificationsAPI `getNotifications` by filtering of
        type `friendRequest`.
      operationId: acceptFriendRequest
      parameters:
      - description: Must be a valid notification ID.
        explode: false
        in: path
        name: notificationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Unfriend Success:
                  value:
                    success:
                      message: Ok
                      status_code: 200
              schema:
                $ref: "#/components/schemas/Success"
          description: Successful response after friending a user.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Accept Friend Request":
                  value:
                    error:
                      message: that friend request could not be found
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to accept a non-existent friend
            request.
      security:
      - authCookie: []
      summary: Accept Friend Request
      tags:
      - notifications
  /auth/user/notifications/{notificationId}/hide:
    put:
      description: Delete a notification.
      operationId: deleteNotification
      parameters:
      - description: Must be a valid notification ID.
        explode: false
        in: path
        name: notificationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Friend Request Response:
                  value:
                    id: frq_00000000-0000-0000-0000-000000000000
                    type: friendRequest
                    created_at: 2021-01-01T00:00:00.000Z
                    details: "{}"
                    message: ""
                    seen: false
                    senderUserId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
              schema:
                $ref: "#/components/schemas/Notification"
          description: Returns a single Notifcation object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Delete Notification
      tags:
      - notifications
  /auth/user/notifications/{notificationId}/see:
    put:
      description: Mark a notification as seen.
      operationId: markNotificationAsRead
      parameters:
      - description: Must be a valid notification ID.
        explode: false
        in: path
        name: notificationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Friend Request Response:
                  value:
                    id: frq_00000000-0000-0000-0000-000000000000
                    type: friendRequest
                    created_at: 2021-01-01T00:00:00.000Z
                    details: "{}"
                    message: ""
                    seen: false
                    senderUserId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
              schema:
                $ref: "#/components/schemas/Notification"
          description: Returns a single Notifcation object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Mark Notification As Read
      tags:
      - notifications
  /auth/user/playermoderations:
    delete:
      description: ⚠️ **This will delete every single player moderation you've ever
        made.**
      operationId: clearAllPlayerModerations
      responses:
        "200":
          content:
            application/json:
              examples:
                "200 OK":
                  value:
                    success:
                      message: OK
                      status_code: 200
              schema:
                $ref: "#/components/schemas/Success"
          description: Success response after e.g. clearing all player moderations.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Clear All Player Moderations
      tags:
      - playermoderation
    get:
      description: |-
        Returns a list of all player moderations made by **you**.

        This endpoint does not have pagination, and will return *all* results. Use query parameters to limit your query if needed.
      operationId: getPlayerModerations
      parameters:
      - description: Must be one of PlayerModerationType.
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/PlayerModerationType"
        style: form
      - description: Must be valid UserID.
        explode: true
        in: query
        name: targetUserId
        required: false
        schema:
          $ref: "#/components/schemas/UserID"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerModeration"
                type: array
          description: Returns a list of PlayerModeration objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Search Player Moderations
      tags:
      - playermoderation
    post:
      description: |-
        Moderate a user, e.g. unmute them or show their avatar.

        Please see the [Player Moderation docs](https://vrchatapi.github.io/docs/api/#tag--playermoderation) on what playerModerations are, and how they differ from staff moderations.
      operationId: moderateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModerateUserRequest"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerModeration"
          description: Returns a single PlayerModeration object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Moderate User
      tags:
      - playermoderation
  /auth/user/resendEmail:
    post:
      description: Requests a resend of pending email address confirmation email
      operationId: resendEmailConfirmation
      parameters: []
      responses:
        "200":
          content:
            application/json:
              examples:
                Resend Verification Email Success:
                  value:
                    success:
                      message: Verification Email Sent!
                      status_code: 200
              schema:
                $ref: "#/components/schemas/Success"
          description: OK
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Resend Email Confirmation
      tags:
      - authentication
  /auth/user/subscription:
    get:
      description: Get a list of all current user subscriptions.
      operationId: getCurrentSubscriptions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/UserSubscription"
                type: array
          description: Returns a list of UserSubscription objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Current Subscriptions
      tags:
      - economy
  /auth/user/twofactorauth/otp:
    get:
      description: Gets the OTP (One Time Password) recovery codes for accounts with
        2FA-protection enabled.
      operationId: getRecoveryCodes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TwoFactorRecoveryCodes"
          description: Returns the two factor recovery codes
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get 2FA Recovery codes
      tags:
      - authentication
  /auth/user/unplayermoderate:
    put:
      description: "Removes a player moderation previously added through `moderateUser`.\
        \ E.g if you previously have shown their avatar, but now want to reset it\
        \ to default."
      operationId: unmoderateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModerateUserRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                "200 All Of PlayerModerationType Unmoderated":
                  value:
                    success:
                      message: PlayerModerations of type undefined removed
                      status_code: 200
                "200 Specific User Unmoderated":
                  value:
                    success:
                      message: User usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469 unmoderated
                      status_code: 200
              schema:
                $ref: "#/components/schemas/Success"
          description: Success response after unmoderating a player moderation.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Unmoderate User
      tags:
      - playermoderation
  /auth/verifyLoginPlace:
    get:
      description: Verifies a login attempt for a user
      operationId: verifyLoginPlace
      parameters:
      - description: Filter by UserID.
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - description: Token to verify login attempt.
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "302":
          description: OK
      summary: Verify Login Place
      tags:
      - authentication
  /avatarStyles:
    get:
      description: List avatar styles.
      operationId: getAvatarStyles
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AvatarStyle"
                type: array
          description: Returns a list of AvatarStyle objects.
      summary: Get Avatar Styles
      tags:
      - avatars
  /avatars:
    get:
      description: Search and list avatars by query filters. You can only search your
        own or featured avatars. It is not possible as a normal user to search other
        peoples avatars.
      operationId: searchAvatars
      parameters:
      - description: Filters on featured results.
        explode: true
        in: query
        name: featured
        required: false
        schema:
          type: boolean
        style: form
      - description: The sort order of the results.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: "#/components/schemas/SortOption"
        style: form
      - description: Set to `me` for searching own avatars.
        explode: true
        in: query
        name: user
        required: false
        schema:
          enum:
          - me
          type: string
        style: form
      - description: Filter by UserID.
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Result ordering
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: "#/components/schemas/OrderOption"
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Tags to include (comma-separated). Any of the tags needs to be
          present.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          $ref: "#/components/schemas/Tag"
        style: form
      - description: Tags to exclude (comma-separated).
        explode: true
        in: query
        name: notag
        required: false
        schema:
          $ref: "#/components/schemas/Tag"
        style: form
      - description: Filter by ReleaseStatus.
        explode: true
        in: query
        name: releaseStatus
        required: false
        schema:
          $ref: "#/components/schemas/ReleaseStatus"
        style: form
      - description: The maximum Unity version supported by the asset.
        explode: true
        in: query
        name: maxUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The minimum Unity version supported by the asset.
        explode: true
        in: query
        name: minUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The platform the asset supports.
        explode: true
        in: query
        name: platform
        required: false
        schema:
          $ref: "#/components/schemas/Platform"
        style: form
      - description: Not quite sure what this actually does (exists on the website
          but doesn't seem to be used)
        explode: true
        in: query
        name: isInternalVariant
        required: false
        schema:
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Avatar"
                type: array
          description: Returns a list of Avatar objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Search Avatars
      tags:
      - avatars
    post:
      description: Create an avatar. It's possible to optionally specify a ID if you
        want a custom one. Attempting to create an Avatar with an already claimed
        ID will result in a DB error.
      operationId: createAvatar
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAvatarRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Avatar"
          description: Returns a single Avatar object.
        "400":
          content:
            application/json:
              examples:
                Unable To Create Avatar Now Example:
                  value:
                    error:
                      message: You can't create an avatar right now
                      status_code: 400
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing permissions.
        "401":
          content:
            application/json:
              examples:
                "401 Cannot Set Featured":
                  value:
                    error:
                      message: cannot set featured tag if you are not an admin
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when set featured to true without being an admin.
      security:
      - authCookie: []
      summary: Create Avatar
      tags:
      - avatars
  /avatars/favorites:
    get:
      description: Search and list favorited avatars by query filters.
      operationId: getFavoritedAvatars
      parameters:
      - description: Filters on featured results.
        explode: true
        in: query
        name: featured
        required: false
        schema:
          type: boolean
        style: form
      - description: The sort order of the results.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: "#/components/schemas/SortOption"
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Result ordering
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: "#/components/schemas/OrderOption"
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Filters by world name.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Tags to include (comma-separated). Any of the tags needs to be
          present.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          $ref: "#/components/schemas/Tag"
        style: form
      - description: Tags to exclude (comma-separated).
        explode: true
        in: query
        name: notag
        required: false
        schema:
          $ref: "#/components/schemas/Tag"
        style: form
      - description: Filter by ReleaseStatus.
        explode: true
        in: query
        name: releaseStatus
        required: false
        schema:
          $ref: "#/components/schemas/ReleaseStatus"
        style: form
      - description: The maximum Unity version supported by the asset.
        explode: true
        in: query
        name: maxUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The minimum Unity version supported by the asset.
        explode: true
        in: query
        name: minUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The platform the asset supports.
        explode: true
        in: query
        name: platform
        required: false
        schema:
          $ref: "#/components/schemas/Platform"
        style: form
      - description: "Target user to see information on, admin-only."
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Avatar"
                type: array
          description: Returns a list of Avatar objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "403":
          content:
            application/json:
              examples:
                "403 Cant See Other User Favorite Avatars":
                  value:
                    error:
                      message: \"You can only see your own favorite avatars!\"
                      status_code: 403
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to see favourited avatars of another
            user without sufficient admin permissions.
      security:
      - authCookie: []
      summary: List Favorited Avatars
      tags:
      - avatars
  /avatars/impostor/queue/stats:
    get:
      description: Gets service stats for queued impostor.
      operationId: getImpostorQueueStats
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceQueueStats"
          description: Returns a Service Queue Stats.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: Get Impostor Queue Stats
      tags:
      - avatars
  /avatars/licensed:
    get:
      description: List licensed avatars.
      operationId: getLicensedAvatars
      parameters:
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Avatar"
                type: array
          description: Returns a list of Avatar objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
      security:
      - authCookie: []
      summary: List Licensed Avatars
      tags:
      - avatars
  /avatars/{avatarId}:
    delete:
      description: "Delete an avatar. Notice an avatar is never fully \"deleted\"\
        , only its ReleaseStatus is set to \"hidden\" and the linked Files are deleted.\
        \ The AvatarID is permanently reserved."
      operationId: deleteAvatar
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          $ref: "#/components/schemas/AvatarID"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Avatar"
          description: Returns a single Avatar object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Delete Avatar
      tags:
      - avatars
    get:
      description: Get information about a specific Avatar.
      operationId: getAvatar
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          $ref: "#/components/schemas/AvatarID"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Avatar"
          description: Returns a single Avatar object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Get Avatar
      tags:
      - avatars
    put:
      description: Update information about a specific avatar.
      operationId: updateAvatar
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          $ref: "#/components/schemas/AvatarID"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAvatarRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Avatar"
          description: Returns a single Avatar object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Update Avatar
      tags:
      - avatars
  /avatars/{avatarId}/impostor:
    delete:
      description: Delete generated Impostor for that avatar.
      operationId: deleteImpostor
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          $ref: "#/components/schemas/AvatarID"
        style: simple
      responses:
        "200":
          description: The Impostors generated for that avatar are deleted.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Delete generated Impostor
      tags:
      - avatars
  /avatars/{avatarId}/impostor/enqueue:
    post:
      description: Enqueue Impostor generation for that avatar.
      operationId: enqueueImpostor
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          $ref: "#/components/schemas/AvatarID"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceStatus"
          description: Returns a Service Status.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Enqueue Impostor generation
      tags:
      - avatars
  /avatars/{avatarId}/select:
    put:
      description: Switches into that avatar.
      operationId: selectAvatar
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          $ref: "#/components/schemas/AvatarID"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
          description: Returns a single CurrentUser object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Select Avatar
      tags:
      - avatars
  /avatars/{avatarId}/selectFallback:
    put:
      deprecated: true
      description: Switches into that avatar as your fallback avatar.
      operationId: selectFallbackAvatar
      parameters:
      - description: Must be a valid avatar ID.
        explode: false
        in: path
        name: avatarId
        required: true
        schema:
          $ref: "#/components/schemas/AvatarID"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentUser"
          description: Returns a single CurrentUser object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response due to missing auth cookie.
        "403":
          content:
            application/json:
              examples:
                "403 Cant Select Non-Fallback as Fallback":
                  value:
                    error:
                      message: This avatar isn't tagged as a quest fallback avatar.
                      status_code: 403
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to select a fallback avatar that
            is missing the fallback tag.
        "404":
          content:
            application/json:
              examples:
                "404 Avatar Not Found":
                  value:
                    error:
                      message: Avatar Not Found
                      status_code: 404
                "404 Can't find avatar":
                  value:
                    error:
                      message: Can't find avatar!
                      status_code: 404
                "404 Couldn't find that avatar":
                  value:
                    error:
                      message: We couldn't find that avatar!
                      status_code: 404
              schema:
                $ref: "#/components/schemas/Error"
          description: Error response when trying to show information about a non-existent
            avatar.
      security:
      - authCookie: []
      summary: Select Fallback Avatar
      tags:
      - avatars
  /calendar:
    get:
      description: Get a list of a user's calendar events for the month in ?date
      operationId: getCalendarEvents
      parameters:
      - description: The month to search in.
        explode: true
        in: query
[...]
